@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.slick-dots li.slick-active {
    width: 15px !important;
    height: 15px !important;
    border-radius: 28px;
    background: #FFFFFF !important;
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background: #1A1B39 !important;
}

.slick-dots {
    position: absolute;
    bottom: 70% !important;
    display: block;
    transform: rotate(90deg);
    width: unset !important;
    padding: 0;
    margin: 0;
    right: -25% !important;
    list-style: none;
    text-align: unset !important;
}

@media (max-width:1280px) {
    .slick-dots {
        right: -15% !important;
    }
}

@media (max-width:1023.9px) {
    .slick-dots {
        right: -7% !important;
    }
}

@media (max-width:640px) {
    .slick-dots {
        left: 0% !important;
        bottom: -8% !important;
        transform: rotate(0deg);
    }
}

html,
body {
    height: 100%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
} */

.btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}